body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Updated body background color */
    margin: 0;
    padding: 0 10%;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  #gallery {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc; /* Updated border style */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Updated box shadow */
  }
  
  figure {
    text-align: center;
    margin: 0;
  }
  
  #mainImage {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
  #imageCaption {
    margin-top: 10px;
    font-size: 14px;
    color: #666; /* Updated caption text color */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  li {
    margin: 10px;
    width: 150px; /* Fixed width for thumbnails */
    box-sizing: border-box;
  }
  
  li img {
    width: 100%;
    height: auto;
    border: 2px solid #eee; /* Updated border color */
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
    filter: grayscale(100%);   /* grayscale filter initially*/
  }
  
  li img:hover {
    transform: scale(1.1); /* Add slight zoom effect on hover */
    border-color: #ddd; /* Darken border on hover */
  }
  
  li img.active {
    border-color: #333; /* Highlight active thumbnail */
    background-color: #333;
    filter: grayscale(0%);  /* grayscale to 0 after its clicked*/
  }
  
